.App {
}

.movieWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  text-align: center;
  gap: 5px;
  padding-top: 10px;
  color: #fff;
}

.movie {
  background: rgb(88, 79, 79);
  width: 250px;
  height: 350px;
}

.weatherWrapper {
  display: flex;
  justify-content: space-evenly;
}

.question {
  display: inline-block;
}
button {
  display: inline-block;
}

.test {
  margin-left: 80px;
}
